.chat-header {
  background: #ffffff;
  font-weight: 600;
  font-variant: small-caps;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-transform: lowercase;
  width: calc(100% - 70px);
  padding: 25px;
  box-shadow: 2px 2px 10px #dfe1e6;
  height: calc(10vh - 65px);
  margin: 10px 10px 5px;

  .channel-members {
    font-size: 12px;
    font-weight: normal;
  }

}

.message-box {
  height: calc(70vh - 10px);
  background-color: #ffffff;
  width: calc(100% - 20px);
  margin: 5px 10px;
  box-shadow: 2px 2px 10px #dfe1e6;
  overflow: scroll;
}

.chat-input {
  height: calc(20vh - 65px);
  background-color: #ffffff;
  margin: 5px 10px;
  margin-bottom: 10px;
  box-shadow: 2px 2px 10px #dfe1e6;
  width: calc(100% - 70px);
  padding: 25px;
  overflow: hidden !important;
  display: flex;

  & .editor-wrapper {
	flex: 1;
  }

  & .button-wrapper {
	width: 250px;
	margin: -5px 0px;
	margin-left: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
  }
}

.editor-wrapper {
  border: 2px solid #dfe1e6;
  height: calc(100% - 20px);
  padding: 10px;
  border-radius: 1em;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
}

.chat-window {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
}

.DraftEditor-root {
  width: 100%;
  margin: 5px 10px;
}

.comment-wrapper {
  padding: 10px;
  margin: 10px;
  width: 60%;
  border-radius: 1em;
  background: #fafbfc;
  border: 2px solid #dfe1e6;
}
