.kanban-container {
	display: flex;
	height: calc(100% - 35px);
	margin: auto -5px;
	overflow-x: scroll;
}

.kanban-col {
	margin: 5px;
	overflow-y: scroll;
	flex: 1;
	min-width: 350px;
}

.kanban-item {
	margin-bottom: 10px;
}

.equip-view-tab {
	display: flex;
	padding: 10px 30px;
}

.ant-tabs-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.action-btn {
	margin: 5px;
}
