.kanban-container {
	display: flex;
	margin: auto -5px;
	overflow-x: scroll;
}

.kanban-col {
	margin: 5px;
	flex: 1;
	min-width: 350px;
}

.kanban-item {
	margin: 10px;
	background-color: #000;
	border-radius: 10px;
	cursor: pointer;
}

.equip-view-tab {
	display: flex;
	padding: 10px 30px;
}

.action-btn {
	margin: 5px;
}
