.screen-wrapper {
	padding: 10px;
	height: 100vh;
}

.avatar-container {
	border-radius: 10px;
	background: #000000 !important;
	border: 1px solid #303030;
	width: inherit;
	justify-content: space-around;
	align-items: center;

	.ant-card-body {
		background-color: #000;
		border-radius: 10px;
	}

	&.with-avatar {
		.ant-card-body {
			padding: 10px;
			padding-top: 30px;
		}

		.avatar {
			position: absolute;
			width: calc(100% - 30px);
			display: flex;
			justify-content: center;
			top: -25px;
		}
	}
}

.message-details {
	padding: 5px;
	width: 100%;
}

.user-details {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -5px;

	&.user-name > .ant-tag {
		font-size: 14px;
		padding: 5px 30px;
		cursor: pointer;
	}

	.ant-tag {
		flex: 1;
		text-align: center;
		margin: 5px;
		padding: 0px 30px;
	}
}

.user-card {
	margin: 0 5px;
	height: calc(100vh - 10px);
}

.user-details-row {
	h4.ant-typography {
		margin-top: 0;
	}

	div.ant-typography {
		margin-bottom: 5px;
	}
}

.user-media-container {
	display: flex;
	height: calc(100vh - 165px);
	overflow-y: scroll;
	flex-wrap: wrap;
	margin: -10px;
}

.user-media-element {
	flex: 1;
	height: 120px;
	min-width: 120px;
	border: 1px solid #303030;
	padding: 10px;
	margin: 10px;
}

.profile-card {
	margin: 0 5px;
	margin-bottom: 10px;

	.avatar {
		position: absolute;
		top: -120px !important;
		width: calc(100% - 48px);
		display: flex;
		justify-content: center;
	}

	.avatar-container {
		margin-top: 40px;
		.ant-card-body {
			padding-top: 15px;
		}
	}
}

.team-card {
	.ant-card-body {
		padding: 0;
		margin-left: -1px;
	}
}

.team-card-grid {
	width: 100%;
}

.team-member {
	padding: 10px;
	padding-top: 40px;
}
