.screen-wrapper {
	padding: 30px;
	height: calc(100vh - 48px);
}
.profile-card {
	margin-right: 30px;
}

.team-card {
	margin: 15px;
}

.user-card {
	margin-right: 30px;
	height: calc(100vh - 108px);
}

.user-details-row {
	h4.ant-typography {
		margin-top: 0;
	}

	div.ant-typography {
		margin-bottom: 5px;
	}
}

.user-media-container {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.user-media-element {
	flex: 1;
	height: 120px;
	min-width: 120px;
	border: 1px solid #303030;
	padding: 10px;
	margin: 10px;
}

.ant-card-head-wrapper {
	display: flex;
	align-items: center;
	padding-top: 20px;
	padding-bottom: 10px;

	.ant-card-head-title {
		padding-top: 0;

		.ant-typography {
			margin-bottom: 0;
		}
	}
	.ant-card-extra {
		padding: 0;
	}
}
