.screen-wrapper {
	padding: 10px;
	height: calc(100vh - 20px);
}

.team-card-wrapper {
	min-height: calc(100vh - 102px);
}

.team-card {
	margin: 10px;
	margin-bottom: 25px;

	.ant-card-body {
		padding: 0;
	}

	.avatar-container.with-avatar .avatar {
		top: -25px;
	}
}

.user-card {
	margin: 0px 5px;
	min-height: calc(100vh - 102px);

	.ant-card-head-wrapper {
		display: flex;
		align-items: center;
		padding-top: 20px;
		padding-bottom: 10px;

		.ant-card-head-title {
			padding-top: 0;

			.ant-typography {
				margin-bottom: 0;
			}
		}
		.ant-card-extra {
			padding: 0;
		}
	}
}

.user-details-row {
	h4.ant-typography {
		margin-top: 0;
	}

	div.ant-typography {
		margin-bottom: 5px;
	}
}

.user-media-container {
	display: flex;
	flex-wrap: wrap;
	margin: -10px;
}

.user-media-element {
	flex: 1;
	height: 120px;
	min-width: 120px;
	border: 1px solid #303030;
	padding: 10px;
	margin: 10px;
}

.profile-card {
	margin: 0px 5px;
	margin-bottom: 5px;
	.avatar {
		position: absolute;
		bottom: 170px;
		width: calc(100% - 60px);
		display: flex;
		justify-content: center;
	}

	.avatar-container {
		margin-top: 20px;
	}
}
