.wrapper {
	min-height: 100vh;
	background: url(https://source.unsplash.com/featured);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat no-repeat;
}

.public-container {
	background-color: #141414;
	min-height: 100vh;
	padding: 30px;
	border-left: 1px solid #303030;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.logo-container {
	display: flex;
	justify-content: center;

	img {
		width: 250px;
		margin-bottom: 25px;
	}
}

.private-container {
	margin-left: 60px;
}

.form-title {
	text-align: center;
}
