.wrapper {
	height: 100vh;
	width: 100vw;
	z-index: -1;
	display: flex;
	justify-content: center;
}

.public-container {
	margin: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	z-index: 0;
}

.logo-container {
	display: flex;
	justify-content: center;

	img {
		width: 250px;
		margin-bottom: 25px;
	}
}

.private-container {
	margin-left: 60px;
}

.form-title {
	text-align: center;
}
