.login-form-container {
	width: 400px;
	padding: 20px;
}

.signup-form-container {
	width: 1000px;
	padding: 20px;

	.grid-row {
		margin: auto -10px;
	}

	.form-field {
		margin: 10px;
	}
}

.ant-form-item-label > label {
	height: auto !important;
}
