.login-form-container {
	padding: 20px;
	min-width: 400px;
	display: flex;
	flex-direction: column;
}

.signup-form-container {
	padding: 20px;

	.grid-row {
		margin: auto -10px;
	}

	.form-field {
		margin: 10px;
	}
}

.ant-form-item-label > label {
	height: auto !important;
}
