.primary-nav {
	width: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #0747a6;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.app-icon-container {
	width: 100%;
}

.logo-icon {
	margin-top: 20px;
	margin-bottom: 10px;

	& > img {
		width: 100%;
		height: auto;
		padding: 12px;
	}
}

.app-icon,
.settings-icon {
	width: 45px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	text-align: center;
	cursor: pointer;
	& > .icon {
		font-size: 20px;
		line-height: 15px;
		color: #ffffff;
	}
}

.avatar-container {
	display: flex;
	padding: 12px;
	border-radius: 10px;
	background: #141414;
	border: 1px solid #303030;
	width: inherit;
	justify-content: space-around;
	align-items: center;
	margin: 5px 20px;
}

.profile-card .avatar-container {
	margin: 0;
}

.secondary-nav {
	height: 100vh;
	padding: 15px;
}

.user-details {
	margin-left: 15px;
	width: calc(100% - 30px);
}

.user-position {
	font-size: 12px;
	line-height: 20px;
}

.user-name {
	line-height: 20px;
}

.ant-layout-sider-collapsed .avatar-container {
	display: none;
}

.ant-menu-item-group-list > .ant-menu-item {
	height: 50px;
	line-height: 50px;
	display: flex;
	align-items: center;
}

.ant-menu-item-selected {
	border-right: 3px solid #0747a6;
}

.avatar-item-group {
	padding-bottom: 20px;
	& > .ant-menu-item {
		padding: 0 20px;
	}
}

.ant-menu-item-group {
	padding-top: 15px;
	padding-bottom: 20px;
}
