.primary-nav {
	width: 60px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	background-color: #0052cc;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	height: 100vh;
}

.app-icon-container {
	width: 100%;
}

.logo-icon {
	margin-top: 20px;
	margin-bottom: 10px;

	& > img {
		width: 100%;
		height: auto;
		padding: 12px;
	}
}

.app-icon,
.settings-icon {
	width: 45px;
	margin: 10px auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 45px;
	text-align: center;
	cursor: pointer;
	& > .icon {
		font-size: 20px;
		line-height: 15px;
		color: #ffffff;
	}
}

.profile-card .avatar-container {
	margin: 0;
}

.secondary-nav {
	height: 100vh;
	padding: 15px;
}

.ant-layout-sider-collapsed .avatar-container {
	display: none;
}

.user-card-small {
	height: auto;
}
