.ant-page-header {
	padding: 0;
	padding-top: 20px;
}

.ant-typography {
	text-transform: capitalize;
}

.update-item {
	flex: 1;
	height: calc(100vh - 108px);
	margin-right: 30px;
}

.ant-card-head-title {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 20px;
}

.ant-tag {
	font-weight: 600;
}

.update-list {
	height: calc(100vh - 108px);
	overflow-y: scroll;

	.ant-list-item {
		cursor: pointer;

		&:hover {
			background-color: #333;
		}
	}
}
