@import url("~antd/dist/antd.dark.min.css");
// @import "./theme";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");

@import "./layout";
@import "./login";
@import "./navigation";
@import "./home";
@import "./updates";
@import "./chat";
@import "./_equip.scss";

body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
}

input,
button {
	font-size: 16px;
	font-weight: 600 !important;
}

.icon {
	font-size: 20px !important;
	color: rgba(255, 255, 255, 0.65);
	&.input-icon {
		padding-right: 10px;
	}

	&.nav-icon {
		color: unset;
	}
}

.grid-row {
	display: flex;
	flex-wrap: wrap;

	& > * {
		flex: 1;
	}

	.grid-col {
		flex: 1;
		min-width: 350px;
	}
}

.button {
	padding: 10px 30px;
	height: auto;
	border-width: 2px;
	border-radius: 3px;
	font-weight: 600 !important;
	text-transform: uppercase;

	&.warning {
		border-color: #ffab00;
		background-color: #ffab00;
		color: #141414;

		&:hover {
			background-color: transparent;
			color: #ffab00;
		}
	}

	&.primary {
		border-color: #0747a6;
		background-color: #0747a6;
		color: #f4f5f7;
		& .icon {
			color: #f4f5f7;
		}

		&:hover {
			background-color: transparent;
			color: #0747a6;
			& .icon {
				color: #0747a6;
			}
		}
	}

	&.danger {
		border-color: #de350b;
		background-color: #de350b;
		color: #f4f5f7;

		&:hover {
			background-color: transparent;
			color: #de350b;
		}
	}

	&.default {
		border-color: #f4f5f7;
		background-color: #f4f5f7;
		color: #303030;
		& .icon {
			color: #303030;
		}

		&:hover {
			background-color: transparent;
			color: #f4f5f7;
			& .icon {
				color: #f4f5f7;
			}
		}
	}
}
