@import url("~antd/dist/antd.dark.min.css");
// @import "./theme";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600;800&display=swap");

@import "./layout";
@import "./navigation";
@import "./chat";
@import "./equip";
@import "./home";
@import "./updates";
@import "./login";
@import "./editor";
body {
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	font-weight: 600;
}

input,
button {
	font-size: 14px !important;
	font-weight: 600 !important;
}

.icon {
	font-size: 20px !important;
	color: rgba(255, 255, 255, 0.65);
	&.input-icon {
		padding-right: 10px;
	}

	&.nav-icon {
		color: unset;
	}
}

.grid-row {
	display: flex;
	flex-wrap: wrap;
	margin: auto -10px;

	& > * {
		flex: 1;
	}

	.grid-col {
		flex: 1;
		min-width: 300px;
	}
}

.button {
	padding: 5px 30px;
	height: auto;
	border-width: 2px;
	border-radius: 3px;
	font-weight: 600 !important;
	text-transform: uppercase;
}

.ant-tabs-bar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row-reverse;
}

.ant-card-head {
	min-height: unset;
}

.ant-card-head-title {
	text-transform: capitalize;
	font-weight: 600;
	font-size: 20px;
}

.ant-tag {
	font-weight: 600;
}

.ant-page-header {
	padding: 20px 0px;
}

*.ant-typography {
	text-transform: capitalize;
	margin-bottom: 0 !important;
}

.ant-layout-header {
	background-color: #000000;
}

.ant-menu-item-group {
	padding-top: 10px;
	padding-bottom: 10px;
}

.ant-menu-item {
	display: flex;
	align-items: center;
}

.title-card {
	margin: 10px;
	margin-top: 0px;

	.ant-typography {
		font-size: 24px;
		line-height: 24px;
	}
}

.ant-form-item {
	margin-bottom: 15px;
}

.ant-layout {
	height: 100vh;
}

.ant-layout-sider-children {
	background: #141414;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 60px;
	width: 270px;
	overflow-y: scroll;
}

.drawer-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
