/* Ionic Variables and Theming. For more info, please see:
http://ionicframework.com/docs/theming/ */

/** Ionic CSS Variables **/
:root {
	/** primary **/
	--ion-default-font: "Montserrat" !important;
	--ion-color-primary: #0052cc;
	--ion-color-primary-rgb: 0, 82, 204;
	--ion-color-primary-contrast: #ffffff;
	--ion-color-primary-contrast-rgb: 255, 255, 255;
	--ion-color-primary-shade: #0747a6;
	--ion-color-primary-tint: #2684ff;

	/** secondary **/
	--ion-color-secondary: #00b8d9;
	--ion-color-secondary-rgb: 61, 194, 255;
	--ion-color-secondary-contrast: #ffffff;
	--ion-color-secondary-contrast-rgb: 255, 255, 255;
	--ion-color-secondary-shade: #008da6;
	--ion-color-secondary-tint: #79e2f2;

	/** tertiary **/
	--ion-color-tertiary: #6554c0;
	--ion-color-tertiary-rgb: 101, 84, 192;
	--ion-color-tertiary-contrast: #ffffff;
	--ion-color-tertiary-contrast-rgb: 255, 255, 255;
	--ion-color-tertiary-shade: #403294;
	--ion-color-tertiary-tint: #998dd9;

	/** success **/
	--ion-color-success: #36b37e;
	--ion-color-success-rgb: 54, 179, 126;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255, 255, 255;
	--ion-color-success-shade: #006644;
	--ion-color-success-tint: #79f2c0;

	/** warning **/
	--ion-color-warning: #ffab00;
	--ion-color-warning-rgb: 255, 171, 0;
	--ion-color-warning-contrast: #000000;
	--ion-color-warning-contrast-rgb: 0, 0, 0;
	--ion-color-warning-shade: #ff8b00;
	--ion-color-warning-tint: #ffe380;

	/** danger **/
	--ion-color-danger: #de350b;
	--ion-color-danger-rgb: 222, 53, 11;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255, 255, 255;
	--ion-color-danger-shade: #bf2600;
	--ion-color-danger-tint: #ff7452;

	/** dark **/
	--ion-color-dark: #141414;
	--ion-color-dark-rgb: 37, 56, 88;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255, 255, 255;
	--ion-color-dark-shade: #000000;
	--ion-color-dark-tint: #1f1f1f;

	/** medium **/
	--ion-color-medium: #8c8c8c;
	--ion-color-medium-rgb: 122, 134, 154;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255, 255, 255;
	--ion-color-medium-shade: #595959;
	--ion-color-medium-tint: #bfbfbf;

	/** light **/
	--ion-color-light: #fafafa;
	--ion-color-light-rgb: 244, 245, 247;
	--ion-color-light-contrast: #000000;
	--ion-color-light-contrast-rgb: 0, 0, 0;
	--ion-color-light-shade: #f5f5f5;
	--ion-color-light-tint: #ffffff;
}

@media (prefers-color-scheme: dark) {
	/*
   * Dark Colors
   * -------------------------------------------
   */

	body {
		/** primary **/
		--ion-color-primary: #0052cc;
		--ion-color-primary-rgb: 0, 82, 204;
		--ion-color-primary-contrast: #ffffff;
		--ion-color-primary-contrast-rgb: 255, 255, 255;
		--ion-color-primary-shade: #0747a6;
		--ion-color-primary-tint: #2684ff;

		/** secondary **/
		--ion-color-secondary: #00b8d9;
		--ion-color-secondary-rgb: 61, 194, 255;
		--ion-color-secondary-contrast: #ffffff;
		--ion-color-secondary-contrast-rgb: 255, 255, 255;
		--ion-color-secondary-shade: #008da6;
		--ion-color-secondary-tint: #79e2f2;

		/** tertiary **/
		--ion-color-tertiary: #6554c0;
		--ion-color-tertiary-rgb: 101, 84, 192;
		--ion-color-tertiary-contrast: #ffffff;
		--ion-color-tertiary-contrast-rgb: 255, 255, 255;
		--ion-color-tertiary-shade: #403294;
		--ion-color-tertiary-tint: #998dd9;

		/** success **/
		--ion-color-success: #36b37e;
		--ion-color-success-rgb: 54, 179, 126;
		--ion-color-success-contrast: #ffffff;
		--ion-color-success-contrast-rgb: 255, 255, 255;
		--ion-color-success-shade: #006644;
		--ion-color-success-tint: #79f2c0;

		/** warning **/
		--ion-color-warning: #ffab00;
		--ion-color-warning-rgb: 255, 171, 0;
		--ion-color-warning-contrast: #000000;
		--ion-color-warning-contrast-rgb: 0, 0, 0;
		--ion-color-warning-shade: #ff8b00;
		--ion-color-warning-tint: #ffe380;

		/** danger **/
		--ion-color-danger: #de350b;
		--ion-color-danger-rgb: 222, 53, 11;
		--ion-color-danger-contrast: #ffffff;
		--ion-color-danger-contrast-rgb: 255, 255, 255;
		--ion-color-danger-shade: #bf2600;
		--ion-color-danger-tint: #ff7452;

		/** dark **/
		--ion-color-dark: #fafafa;
		--ion-color-dark-rgb: 244, 244, 244;
		--ion-color-dark-contrast: #000000;
		--ion-color-dark-contrast-rgb: 0, 0, 0;
		--ion-color-dark-shade: #f5f5f5;
		--ion-color-dark-tint: #ffffff;

		/** medium **/
		--ion-color-medium: #8c8c8c;
		--ion-color-medium-rgb: 140, 140, 140;
		--ion-color-medium-contrast: #ffffff;
		--ion-color-medium-contrast-rgb: 255, 255, 255;
		--ion-color-medium-shade: #595959;
		--ion-color-medium-tint: #bfbfbf;

		/** light **/
		--ion-color-light: #141414;
		--ion-color-light-rgb: 20, 20, 20;
		--ion-color-light-contrast: #ffffff;
		--ion-color-light-contrast-rgb: 255, 255, 255;
		--ion-color-light-shade: #000000;
		--ion-color-light-tint: #1f1f1f;
	}

	/*
   * iOS Dark Theme
   * -------------------------------------------
   */

	.ios body {
		--ion-background-color: #000000;
		--ion-background-color-rgb: 20, 20, 20;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-color-step-50: #141414;
		--ion-color-step-100: #262626;
		--ion-color-step-150: #3a3a3a;
		--ion-color-step-200: #434343;
		--ion-color-step-250: #595959;
		--ion-color-step-300: #6a6a6a;
		--ion-color-step-350: #7b7b7b;
		--ion-color-step-400: #8c8c8c;
		--ion-color-step-450: #9d9d9d;
		--ion-color-step-500: #aeaeae;
		--ion-color-step-550: #bfbfbf;
		--ion-color-step-600: #c9c9c9;
		--ion-color-step-650: #d3d3d3;
		--ion-color-step-700: #dddddd;
		--ion-color-step-750: #e8e8e8;
		--ion-color-step-800: #f0f0f0;
		--ion-color-step-850: #f5f5f5;
		--ion-color-step-900: #fafafa;
		--ion-color-step-950: #ffffff;

		--ion-toolbar-background: #141414;

		--ion-item-background: #141414;
	}

	/*
   * Material Design Dark Theme
   * -------------------------------------------
   */

	.md body {
		--ion-background-color: #000000;
		--ion-background-color-rgb: 20, 20, 20;

		--ion-text-color: #ffffff;
		--ion-text-color-rgb: 255, 255, 255;

		--ion-border-color: #303030;

		--ion-color-step-50: #141414;
		--ion-color-step-100: #262626;
		--ion-color-step-150: #3a3a3a;
		--ion-color-step-200: #434343;
		--ion-color-step-250: #595959;
		--ion-color-step-300: #6a6a6a;
		--ion-color-step-350: #7b7b7b;
		--ion-color-step-400: #8c8c8c;
		--ion-color-step-450: #9d9d9d;
		--ion-color-step-500: #aeaeae;
		--ion-color-step-550: #bfbfbf;
		--ion-color-step-600: #c9c9c9;
		--ion-color-step-650: #d3d3d3;
		--ion-color-step-700: #dddddd;
		--ion-color-step-750: #e8e8e8;
		--ion-color-step-800: #f0f0f0;
		--ion-color-step-850: #f5f5f5;
		--ion-color-step-900: #fafafa;
		--ion-color-step-950: #ffffff;

		--ion-item-background: #141414;

		--ion-toolbar-background: #141414;

		--ion-tab-bar-background: #141414;
	}
}

body {
	font-family: "Montserrat", serif;
	font-size: 16px;
	font-weight: 600;
}

input,
button {
	font-size: 14px !important;
	font-weight: 600 !important;
}
