.login-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: row-reverse;
  align-items: center;
}

.login-container {
  background: #fff;
  height: calc(100vh - 60px);
  max-width: 390px;
  width: calc(100% - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 30px;

  &.signup-container {
	max-width: 840px;
  }
}

.background-container {
  background-image: url(https://source.unsplash.com/800x600/?work);
  height: 100vh;
  flex: 1;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.shadow {
  position: absolute;
  width: calc(100% - 450px);
  height: 100vh;
  background: #f0f2f0;
  background: -webkit-linear-gradient(to top, #000c4099, #f0f2f000);
  background: linear-gradient(to top, #000c4099, #f0f2f000);

  &.signup {
	width: calc(100% - 900px);
  }
}

.field-row {
  margin: 0px -10px;
  display: flex;

  & > * {
	flex: 1;
	margin: 0px 10px;
  }
}
